<%- include('../partials/header') %>
<div class="container">
<table>
  <h1>Artist Database</h1>
  <table>
    <thead>
      <tr>
        <th>Artist Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>IPI #</th>
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(function(a) { %>
        <tr>
          <td><%= a.artistname %></td>
          <td><%= a.email %></td>
          <td><%= a.website %></td>
          <td><%= a.ipiNo %></td>
          <td><a href="/artists/<%= a._id %>"> Artist Details</a> </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <a href="/artists">Add a New Artist</a>
  <input type="submit" value="Log Out">
</table>
</div>
<%- include('../partials/footer') %>