<%- include('../partials/header') %>
<div class="container">
<table>
    
  <h1>Artist Details</h1>

    
    <section id="show-page">
        <div class="title">Artist Name: </div>
        <div><%= artist.artistname %></div>
        <div class="title" >Email: </div>
        <div><%= artist.email %></div>
        <div class="title">Website: </div>
        <div><%= artist.website %></div>
        <div class="title">IPI #: </div>
        <div><%= artist.ipiNo %></div>
        
      <div class="btn">
      
      <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
          <button style="height: 60px;">DELETE</button>
      </form>
      
      <form action="/artists">
          <input type="submit" value="Add New Artist" />
      </form>
      
      
      </div>

      <h2>Make Changes to Artist</h2>

      <div class="update">
      <form action="/artists/<%= artist._id %>?_method=PUT" method="POST">
        <div class="title">Artist Name: </div>
          <input name="artistname" value="<%= artist.artistname %>">

        <div class="title">Email: </div>
          <input name="email" value="<%= artist.email %>">

        <div class="title">Website: </div>
          <input name="website" value="<%= artist.website %>">

        <div class="title">IPI #: </div>
          <input name="ipiNo" value="<%= artist.ipiNo %>">
        
        <button type="submit">Update</button>
        </form>
      </div>
        
    </section>

    <% if (artist.songs.length) { %>
      <table>
        <thead>
          <tr>
            <th>Song</th>
            
          </tr>
        </thead>
        <tbody>
          <% artist.songs.forEach(function(r) { %>
            <tr>
              <td><%= r.songName %> 
                <form class= "songdelete" action="/artists/<%= artist._id %>/songs/<%= r._id %>?_method=DELETE" method="POST">
                  <button style="height: 35px;">X</button>
                </form>
              </td>
            </tr>
            
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Songs Yet</h5>
    <% } %>
    
    

<h2>Add a Song</h2>
<form id="add-song-form" method="POST"
  action="/artists/<%= artist._id %>/songs">
  <label>Song:</label>
  <textarea name="songName"></textarea>
  
  <input type="submit" value="Add Song">
</form>


  
</table>
</div>

<%- include('../partials/footer') %>