<%- include('../partials/header') %>
<div class="container">
<table>
    
  <h1>Artist Details</h1>

    
    <section id="show-page">
        <div class="title">Artist Name: </div>
        <div><%= artist.artistname %></div>
        <div class="title" >Email: </div>
        <div><%= artist.email %></div>
        <div class="title">Website: </div>
        <div><%= artist.website %></div>
        <div class="title">IPI #: </div>
        <div><%= artist.ipiNo %></div>
        <div class="btn"> <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Artist</button>
        </form>
        <form action="/artists">
          <input type="submit" value="Add New Artist" />
      </form>
      </div>
        
    </section>

    <% if (artist.songs.length) { %>
      <table>
        <thead>
          <tr>
            <th>Song</th>
            
          </tr>
        </thead>
        <tbody>
          <% artist.songs.forEach(function(r) { %>
            <tr>
              <td><%= r.songName %></td>
            </tr>
            <form action="/artists/<%= artist._id %>/songs/<%= r._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete Song</button>
            </form> 
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Songs Yet</h5>
    <% } %>
    
    

<h2>Add a Song</h2>
<form id="add-song-form" method="POST"
  action="/artists/<%= artist._id %>/songs">
  <label>Song:</label>
  <textarea name="songName"></textarea>
  
  <input type="submit" value="Add Song">
</form>


  
</table>
</div>

<%- include('../partials/footer') %>